<header>
  <div class="header">
    <div>
      <a href="/">GriotList</a>
      <span>Doing businesses is easy.</span>
    </div>
    <i class="fas fa-bars icon"></i>
  </div>
  <nav id="nav" class="nav">
    <ul>
      <li><a href="/">Home.</a></li>
      <li><a href="/office/explore.html">Local Businesses.</a></li>
      <li><a href="/search/services.html">Top Pros.</a></li>
      <li><a href="/account/signup.html">Business Account.</a></li>
      <li><a href="https://www.griotdigest.com/griotlist">Blog.</a></li>
      <li><a href="#newsletter">Newsletter.</a></li>
    </ul>
  </nav>
</header>
